.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  height: 100%;
}

@media (min-width: 500px) {
  .NavItems {
    display: flex;
    flex-flow: row;
    align-items: center;
  }
}